.App {
  text-align: center;
}

:root {
  --main-product-grey: rgb(201, 201, 201);
  --main-light-blue: rgb(47, 173, 247);
}

header {
  text-align: left;
  padding: 5px 40px;
  background: #666666;
  color: white;
  font-size: 20px;
}

mark {
  background-color: inherit;
  color: var(--main-light-blue);
}

.products-header {
  text-align: left;
  padding: 5px 40px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  border-bottom: 1px solid var(--main-product-grey);
}

.products {
  text-align: left;
  border-bottom: 1px solid var(--main-product-grey);
}

.product {
  text-align: left;
  padding: 40px;
  border-bottom: 1px solid var(--main-product-grey);
}

h2 {
  margin-bottom: 0px;
}
p {
  margin-top: 0px;
}

.product .rating {
  line-height: 50pt;
}

.product .rating .rating-pip {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 2px;
  border-radius: 50%;
  border-color: white;
  background: var(--main-product-grey);
  
}

.product .rating .rating-pip.active {
  background: var(--main-light-blue);
}
